@using System.Security.Principal
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome...</h1>
    <p>...to Dealer Leads! Your source for all things Dealer Lead related</p>


</div>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <p><span class="navbar-text text-dark">Hello @User.Identity.Name!</span></p>

        @if (ViewBag.IsRegistered)
        {
            <p>You are registered and good to go!</p>

            <ul>
                <li>
                    <a asp-area="" asp-controller="SupportedStates" asp-action="Index">Manage states</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="SupportedMakes" asp-action="Index">Manage makes</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="SupportedModels" asp-action="Index">Manage models</a>
                </li>
            </ul>

        }
    }
    else
    {
        <p>You are not signed in, please <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">sign in here</a></p>
    }


</div>
